<link rel="import" href="../static/lib/polymer/polymer.html">
<link rel="import" href="../components/google-analytics.html">

<!--TODO document-->

<dom-module id="analytics-dashboard">
  <style>
    .analytics-small-section {
      padding-bottom: 15px;
    }

    google-analytics-small-chart {
      cursor: pointer;
    }
  </style>

  <template>
    <google-analytics-dashboard class="container">

      <div class="row">
        <div class="col-md-4 col-xs-4"></div>
        <div class="col-md-4 col-xs-4">
          <google-analytics-date-selector></google-analytics-date-selector>
        </div>
        <div class="col-md-4 col-xs-4"></div>
      </div>

      <div class="row chart-area">
        <div class="row">
          <div class="col-md-12 border-bottom">
            <google-analytics-chart
                class="small"
                ids="{{viewId}}"
                type="area"
                metrics="{{defaultMetrics}}"
                dimensions="ga:date">
              <h4>{{defaultHeader}}</h4>
            </google-analytics-chart>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="analytics-small-section border-right col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToSession"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:sessions"
                    dimensions="ga:date">
                  <h6>Sessions</h6>
                </google-analytics-small-chart>
              </div>
              <div class="analytics-small-section border-right col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToUser"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:users"
                    dimensions="ga:date">
                  <h6>Users</h6>
                </google-analytics-small-chart>
              </div>
              <div class="analytics-small-section col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToPageview"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:pageviews"
                    dimensions="ga:date">
                  <h6>Pageviews</h6>
                </google-analytics-small-chart>
              </div>
            </div>
            <div class="row">
              <div class="analytics-small-section border-right col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToPageSession"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:pageviewsPerSession"
                    dimensions="ga:date">
                  <h6>Pages / Session</h6>
                </google-analytics-small-chart>
              </div>
              <div class="analytics-small-section border-right col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToAVGSessionDuration"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:avgSessionDuration"
                    dimensions="ga:date">
                  <h6>Average Session Duration</h6>
                </google-analytics-small-chart>
              </div>
              <div class="analytics-small-section col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToBounceRate"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:bounceRate"
                    dimensions="ga:date">
                  <h6>Bounce Rate</h6>
                </google-analytics-small-chart>
              </div>
            </div>
            <div class="row">
              <div class="analytics-small-section border-right col-md-4">
                <google-analytics-small-chart
                    on-tap="changeToPercentNewSession"
                    ids="{{viewId}}"
                    type="area"
                    metrics="ga:percentNewSessions"
                    dimensions="ga:date">
                  <h6>% New Sessions</h6>
                </google-analytics-small-chart>
              </div>
            </div>
          </div>
          <div class="border-left col-md-4">
            <google-analytics-chart
                ids="{{viewId}}"
                type="pie"
                metrics="ga:sessions"
                dimensions="ga:userType">
              <h4>New Users vs. Returning</h4>
            </google-analytics-chart>
          </div>
        </div>
      </div>
    </google-analytics-dashboard>
  </template>
</dom-module>

<script>
  (function () {
    'use strict';

    Polymer({
      is: "analytics-dashboard",

      properties: {
        viewId: {
          type: String
        },

        defaultMetrics: {
          type: String,
          value: 'ga:sessions',
          notify: true,
          readOnly: true
        },

        defaultHeader: {
          type: String,
          value: 'Sessions',
          notify: true,
          readOnly: true
        },

        timeDimension: {
          type: String,
          value: "ga:date",
          notify: true,
          readOnly: true
        }
      },

      changeToSession: function (e) {
        console.log(e);
        this._setDefaultHeader('Sessions');
        this._setDefaultMetrics('ga:sessions');
      },

      changeToUser: function (e) {
        this._setDefaultHeader('Users');
        this._setDefaultMetrics('ga:users');
      },

      changeToPageview: function (e) {
        this._setDefaultHeader('Pageviews');
        this._setDefaultMetrics('ga:pageviews');
      },

      changeToPageSession: function (e) {
        this._setDefaultHeader('Pages / Session');
        this._setDefaultMetrics('ga:pageviewsPerSession');
      },

      changeToAVGSessionDuration: function () {
        this._setDefaultHeader('Average Session Duration');
        this._setDefaultMetrics('ga:avgSessionDuration');
      },

      changeToBounceRate: function (e) {
        this._setDefaultHeader('Bounce Rate');
        this._setDefaultMetrics('ga:bounceRate');
      },

      changeToPercentNewSession: function (e) {
        this._setDefaultHeader('% New Sessions');
        this._setDefaultMetrics('ga:percentNewSessions');
      },

    })
  }());
</script>
